.cl {
  width: 200px;
  color: white;
  border-radius: 5px;
  padding: 1px 10px;
}

#red {
  color: red;
  font-size: 40;
}

#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  height:70vh;
  width: 99vw;
  margin: 5px;
}

.unSelected {
  width: 80px;
  color: white;
  background-color: grey;
  border-radius: 5px;
  padding: 1px 10px;
}

.stop {
  width: 80px;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 1px 10px;
}

.selected {
  width: 80px;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 1px 10px;
}
