<section>
  <div class="base-view">
    <div ng-show="!baseChosen">
      <div ng-class="['cornerButton', 'bgGreen']" ng-click=actualize()>
        Refresh <i class="fas fa-sync"></i>
      </div>
      <h3>Choisir une base</h3>
      <table class="recTable">
        <tr>
          <th class="tdRec">Dernière modification</th>
          <th class="tdRec"> Adresse MAC</th>
          <th class="tdRec"> Statut </th>
        </tr>
        <tr class="trChoice" ng-repeat="base in allBases" ng-click="loadBase(base)">
            <td class="tdRec">{{timeToString(base.lastUpdate)}}</td>
            <td class="tdRec">{{base.macAddr}}</td>
            <td class="tdRec" ng-class="base.connected ? 'green' : 'red'"> {{base.connected ? 'connectée' : 'non connectée'}} </td>
        </tr>
      </table>
    </div>

    <div ng-show="baseChosen">
      <br/>
      <div ng-class="['cornerButton', 'bgRed']" ng-click=backToList()>
        Retour <i class="fas fa-chevron-right"></i>
      </div>
      <div ng-class="['cornerButton', 'bgGreen']" ng-click=actualize()>
        Refresh <i class="fas fa-sync"></i>
      </div>
      <h3 style="margin-left: 30px;">Infomation de la base :</h3>
      <div id="baseInfo">
        <table>
          <tr>
            <td class="tdInfo">
              Base :
            </td><td class="tdInfo">
              {{baseChosen.macAddr}}
            </td>
          </tr><tr>
            <td class="tdInfo">
              Status :
            </td><td ng-class="[baseChosen.connected ? 'green' : 'red', 'tdInfo']">
              {{baseChosen.connected ? 'Connectée' : 'non connectée'}}
            </td>
          </tr><tr>
            <td class="tdInfo">
              Dernière action :
            </td><td class="tdInfo">
              {{timeToString(baseChosen.lastUpdate)}}
            </td>
          </tr><tr>
            <td class="tdInfo">
              Latitude :
            </td><td class="tdInfo">
              {{baseChosen.latitude | number : 7}}
            </td>
          </tr><tr>
            <td class="tdInfo">
              Longitude :
            </td><td class="tdInfo">
              {{baseChosen.longitude | number : 7}}
            </td>
          </tr><tr>
            <td class="tdInfo">
              Hauteur:
            </td><td class="tdInfo">
              {{((baseChosen.height | number : 3) + (baseChosen.altitude | number : 3))}}m
            </td>
          </tr><tr>
            <td class="tdInfo">
              Geoid sep (hauteur - altitude):
            </td><td class="tdInfo">
              {{baseChosen.height}}m
            </td>
          </tr><tr>
            <td class="tdInfo">
              Altitude de la base mesurée:
            </td><td class="tdInfo">
              {{baseChosen.altitude}}m
            </td>
          </tr><tr>
            <td class="tdInfo">
              Altitude réélle de la base:
            </td><td class="tdInfo">
              {{baseChosen.trueAltitude ? baseChosen.trueAltitude : 0}}m
            </td>
          </tr><tr>
            <td class="tdInfo">
              Nouvelle altitude (m):
            </td><td class="tdInfo">
              <input type="number" step="0.001" ng-model="newAltitude"/>
              <a ng-class="(newAltitude != null) ? 'selected' : 'unSelected'" ng-click="modifyBase('ALT')" value="newAltitude">Modifier</a>
            </td>
          </tr><tr>
            <td class="tdInfo">
              Dernière précision mesurée :
            </td><td ng-show="baseChosen.meanAcc >= 1" class="tdInfo">
              {{(baseChosen.meanAcc) | number : 2}} m
            </td>
            <td ng-show="baseChosen.meanAcc < 1" class="tdInfo">
              {{(baseChosen.meanAcc * 100) | number : 2}} cm
            </td>
          </tr><tr>
            <td class="tdInfo">
              Précision exigée :
            </td><td ng-show="baseChosen.acc / 10000 >= 1" class="tdInfo">
              {{(baseChosen.acc / 10000) | number : 2}} m
            </td>
            <td ng-show="baseChosen.acc / 10000 < 1" class="tdInfo">
              {{(baseChosen.acc / 10000 * 100) | number : 2}} cm
            </td>
          </tr><tr>
            <td class="tdInfo">
              Nouvelle précision (cm):
            </td><td class="tdInfo">
              <input type="number" step="0.01" ng-model="newAcc"/>
              <a ng-class="(newAcc != null) ? 'selected' : 'unSelected'" ng-click="modifyBase('SVIN')" value="newAltitude">Modifier</a>
            </td>
          </tr><tr>
            <td class="tdInfo">
              Nouvelle position (LLH):
            </td><td class="tdInfo">
              <table>
                <tr>
                  <td></td><td><a ng-class="'selected'" ng-click="fillWithCurrentValue()">valeurs Actuelles</a></td>
                </tr><tr>
                  <td>Latitude </td><td><input type="number" step="0.0000001" ng-model="newlat"/></td>
                </tr><tr>
                  <td>Longitude </td><td><input type="number" step="0.0000001" ng-model="newlng"/></td>
                </tr><tr>
                  <td>Hauteur </td><td><input type="number" step="0.01" ng-model="newhei"/></td>
                </tr><tr>
                  <td></td><td><a ng-class="(newlat != null && newlng != null && newhei != null) ? 'selected' : 'unSelected'" ng-click="modifyBase('FIXED')">Modifier</a></td>
                </tr>
              </table>
            </td>
          </tr><tr>
            <td class="tdInfo">
              Nombre de messages:
            </td><td class="tdInfo">
              {{baseChosen.rtcm.length}}
            </td>
          </tr><tr>
            <td class="tdInfo">
              Messages:
            </td><td class="tdInfo">
              <a ng-repeat="rtcm in baseChosen.rtcm">{{rtcm.type}}{{$last ? '' : ' / '}}</a>
            </td>
          </tr><tr>
            <td class="tdInfo">
              Taille des données:
            </td><td class="tdInfo">
              {{baseChosen.rtcmLength}} octets
            </td>
          </tr>
        </table>
      </div>
      <div id="baseMap">
      </div>
      <!--<a class="downl oad" ng-click="downloadBase()">DOWNLOAD CSV<a/>-->
    </div>
  </div>
</section>
